@import url(https://fonts.googleapis.com/css2?family=Inter&display=swap);
@font-face {
  font-family: "Sequel";
  src: url(fonts/font.woff) format("woff");
  src: url(fonts/font.woff2) format("woff2"),
    url(fonts/font.woff) format("woff");
  font-style: normal;
  font-display: swap;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
}
.container {
  max-width: 992px;
  width: 100%;
  margin: 0 auto;
}
.white {
  color: #fff;
}
h1 {
  font-size: 40px;
  line-height: 48px;
  margin: 24px 0 16px;
  font-family: "Sequel";
  font-weight: 600;
}
p {
  font-size: 18px;
  line-height: 22px;
  font-family: "Inter", sans-serif;
}
.hero {
  background-color: #111315;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 272px;
  position: relative;
  z-index: 1;
}
.hero::before {
  content: "";
  background-image: url(assets/c81f6172a1b59fa624a0d7b8a4d277ae.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.hero::after {
  content: "";
  background: radial-gradient(
    71.58% 71.58% at 50% 28.42%,
    #363c43 0%,
    #111315 100%
  );
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.hero--wrapper {
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.hero .icon {
  width: 64px;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  border-radius: 100%;
}
.hero p {
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
  margin-bottom: 16px;
}
.hero picture {
  position: absolute;
  bottom: -136px;
}
.hero picture img {
  width: 100%;
  height: 100%;
  max-width: 100%;
}
.extension {
  padding-top: 180px;
  position: relative;
}
.extension .arrow-down {
  position: absolute;
  top: 90px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
}
.extension .arrow-down .svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
  margin-top: 1px;
}
.extension .arrow-down::before {
  content: "";
  position: relative;
  display: block;
  width: 300%;
  height: 300%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: -100%;
  margin-top: -100%;
  border-radius: 45px;
  background-color: #111315;
  -webkit-animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1)
    infinite;
  animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}
.extension .arrow-down::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s
    infinite;
  animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
}
.extension ul {
  list-style: none;
  padding-left: 0;
}
.extension ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 16px 0 0 0;
}
.extension ul li svg {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.extension ul li p {
  line-height: 27px;
  margin: 0 0 0 16px;
  color: rgba(17, 19, 21, 0.8);
  max-width: 384px;
}
.extension--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.extension--content {
  max-width: 424px;
  width: 100%;
  margin-right: 80px;
}
.extension--content h1 {
  max-width: 367px;
  margin-bottom: 38px;
}
.extension--content a {
  padding: 12px 24px 12px 24px;
  text-decoration: none;
  color: #111315;
  background: #f7c677;
  border-radius: 40px;
  font-family: "Inter", sans-serif;
  margin-top: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.extension--content a svg {
  margin-left: 24px;
}
.extension--img img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
@-webkit-keyframes pulse-dot {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@keyframes pulse-dot {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@-webkit-keyframes pulse-ring {
  0% {
    -webkit-transform: scale(0.33);
    transform: scale(0.33);
  }
  80%,
  100% {
    opacity: 0;
  }
}
@keyframes pulse-ring {
  0% {
    -webkit-transform: scale(0.33);
    transform: scale(0.33);
  }
  80%,
  100% {
    opacity: 0;
  }
}
.footer {
  padding: 100px 0;
  font-family: "Inter", sans-serif;
}
.footer--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer a {
  text-decoration: none;
  color: #111315;
  border-bottom: 1px solid #111315;
}
@media (max-width: 991px) {
  .hero--wrapper {
    padding-left: 24px;
    padding-right: 24px;
  }
  .extension--wrapper {
    padding-left: 24px;
    padding-right: 24px;
  }
  .footer--wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer .footer-text {
    margin: 10px 0;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 36px;
  }
  p {
    font-size: 16px;
  }
  .hero {
    padding-bottom: 0;
  }
  .hero p {
    text-align: center;
  }
  .hero picture {
    position: relative;
    bottom: 0;
    z-index: 1;
  }
  .hero h1 {
    text-align: center;
  }
  .hero--wrapper {
    padding-top: 32px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .hero--wrapper::after {
    content: "";
    background-color: #fff;
    height: 80px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .extension {
    padding-top: 24px;
  }
  .extension .arrow-down {
    display: none;
  }
  .extension--img {
    margin-top: 32px;
  }
  .extension--wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
  .extension--content {
    max-width: 100%;
  }
  .extension h1 {
    max-width: 100%;
  }
  .extension ul li p {
    max-width: 100%;
  }
  .extension--content a {
    margin-top: 24px;
  }
  .footer {
    padding: 0 24px 48px;
  }
  .footer .footer-text {
    text-align: center;
    font-size: 14px;
  }
}

/*# sourceMappingURL=main.css.map?ver=1658924829770*/
